.lmj-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: 40px;
  background: #26d894;
}

.set-option {
  outline: none;
  border: none;
  padding: 10px;
  background: #010202;
  border-radius: 20px;
  color: #f1f1f1;
  cursor: pointer;
}
.lmj-categories-select {
  margin-right: 15px;
}
